@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #8BC34A;
}

@theme inline {
  --color-primary: var(--primary-color);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-teko);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


.custom-html-content p {
  margin-bottom: 1rem; 
}

@media (max-width: 640px) {
  .custom-html-content p {
    margin-bottom: 1rem;
  }
}
